@breakpoints {
	tablet: 768;
	phone: 480px;
}

@media-queries {
	phone-huge: all <=tablet h>phone;
	desktop: >tablet;
}
@media desktop {
	.header {
		color: rebeccapurple;
	}
}
@media phone-huge {
	.header {
		color: red;
	}
}
@media all desktop {
	.header {
		color: green;
	}
}