@breakpoints {
    phone: 480;
    desktop: 1024px;
}
@media-queries {
    tablet: <=desktop >phone, print;
}
@media all >desktop, tablet, handheld {
    .header {
        color: red;
    }
}